<!DOCTYPE html>
<html>

<head>
    <title>Event Registration</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h2>Event Registration</h2>

        <form action="/register" method="POST">

            <label>Full Name</label>
            <input type="text" name="name" required>

            <label>Email</label>
            <input type="email" name="email" required>

            <label>Phone Number</label>
            <input type="tel" name="phone" required>

            <label>Select Event</label>

            <select name="event">

                <option>Python Workshop</option>
                <option>AI Seminar</option>
                <option>Web Development Bootcamp</option>
                <option>Hackathon</option>

            </select>

            <button type="submit">Register</button>

        </form>

    </div>

</body>

</html>