<!DOCTYPE html>
<html>

<head>
    <title>Registration Successful</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container success">

        <h2>Registration Successful 🎉</h2>

        <p>
            <strong>Name:</strong> {{ name }}
        </p>

        <p>
            <strong>Email:</strong> {{ email }}
        </p>

        <p>
            <strong>Phone:</strong> {{ phone }}
        </p>

        <p>
            <strong>Event:</strong> {{ event }}
        </p>

        <a href="/">Register Another Participant</a>

    </div>

</body>

</html>